/* You can add global styles to this file, and also import other style files */

.sleep-share-logo-text {
  font-family: pacificoregular;
  font-size: 1.8em;
}

body {
  font-family: AlegreyaMedium !important;
}
